.menu_container{
    display: flex;
    flex-direction: column;
    width: 220px;
    margin-right: 20px;
}
.menu_list{
    margin-top: 20px;
}
.menu_list li{
    margin-bottom: 10px;
}

h3.head {
    font-weight: bold;
    font-size: 22px;
}

.head_avatar {
    width: 100px;
    height: 100px;
    background: #ff9600;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
}

@media screen and (max-width: 1020px) {

    .menu_container {
        margin-right: 0;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    .menu_list {
        display: flex;
        flex-direction: row;
        margin: 10px -10px 0;
        width: 100%;
    }

    .menu_list li {
        width: max-content;
        background-color: #f4f4f4;
        padding: 10px;
        border-radius: 3px;
        margin: 0 10px;
    }

    .head_avatar {
        width: 85px;
        height: 85px;
        font-size: 30px;
        margin-right: 5px;
    }

    .head_wrap {
        margin-left: 10px;
    }

}
